@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes pop {
  0% { transform: scale(1); }
  10%{ transform: scale(1.05); }
  50% { transform: scale(1.07); }
  100% { transform: scale(1); }
}
.pop {
  animation: pop 0.1s ease-out forwards;
}
.bg-light-yellow {
  width: 20rem;
  height: 0;
  position: absolute;
  z-index: -1;
 box-shadow: 0 0 150px 80px rgba(181, 187, 125, 0.5);
 rotate: -30deg;
}


